body{
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    background-image: url("images/music.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
   
    
}
p{
    font-weight: bold;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    height: 40px;
    padding: 10px;
    color: white;
    font-size: x-large;
    padding-bottom: 50px;
    word-spacing: 0px;
    

}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    background: #0f1114;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
 

.search-btn{
    color: #ece7f7;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    width: 240px;
    color: white;
    font-size: 16px;
    line-height: 40px;
}